<div class="center">
  <div>
    <div class="col-md-12">
      <table class="flat-table flat-table-1" style="margin-top: 20px;">
        <thead>
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">Student Name</th>
          <th scope="col">Student Roll</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of student$ | async" class="student-row">
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
          <td>{{student.roll}}</td>
          <td>
            <button (click)="deleteStudent(student.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="center">
  <form (ngSubmit)="createStudent(user.name,user.roll)" class="form">
    <div class="title">Registration</div>
    <div class="subtitle">Register a new Student here</div>
    <div class="input-container ic1">
      <input [(ngModel)]="user.name" class="input" id="name" name="name" placeholder=" " type="text"/>
      <div class="cut"></div>
      <label class="placeholder" for="name">Name</label>
    </div>
    <div class="input-container ic2">
      <input [(ngModel)]="user.roll" class="input" id="roll" name="roll" placeholder=" " type="text"/>
      <div class="cut"></div>
      <label class="placeholder" for="roll">Roll</label>
    </div>

    <button [disabled]="!user.roll || !user.name" class="submit" type="submit">submit</button>
  </form>
</div>
